<div class="container-fluid">
    <div class="row question-row">
        <div class="mob-left-list" (click)="showLists();">Menu</div>
        <div class="col-md-3 left-list">
            <rmncha-user-side-menu></rmncha-user-side-menu>
        </div>

        <div class="col-md-9 content-sec offset-md-3">
            <div class="col-md-10 offset-md-1">
                <!-- <h2 class="user-heading">Edit User</h2> -->
                <form class="all-fields row" #f="ngForm" (ngSubmit)="f.valid ? getUsers():''">
                    <div class="selection-fields col-md-6">
                        <label for="usr">User Level<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select [(ngModel)]="userManagementService.resetPasswordDetails.selectedRoleId" name="role"
                                (valueChange)="userManagementService.resetPasswordDetails.allUser = undefined;
                                userManagementService.resetPasswordDetails.selectedStateId=undefined;
                                userManagementService.resetPasswordDetails.selectedDistrictId = undefined;
                                 userManagementService.resetPasswordDetails.selectedBlockId=undefined"
                                required>
                                <mat-option 
                                 *ngFor="let opt of userManagementService.formFieldsAll" [value]="opt.areaLevelId">
                                    {{opt.areaLevelName}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Please provide user role</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6" *ngIf="userManagementService.resetPasswordDetails.selectedRoleId == 2 || userManagementService.resetPasswordDetails.selectedRoleId == 3 || userManagementService.resetPasswordDetails.selectedRoleId == 4">
                        <label for="usr">State<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select name="state" [(ngModel)]="userManagementService.resetPasswordDetails.selectedStateId"
                            (valueChange)="userManagementService.resetPasswordDetails.allUser = undefined;
                            userManagementService.resetPasswordDetails.selectedDistrictId=undefined;
                             userManagementService.resetPasswordDetails.selectedBlockId=undefined"
                                [required]="userManagementService.resetPasswordDetails.selectedRoleId == 2 || userManagementService.resetPasswordDetails.selectedRoleId == 3 || userManagementService.resetPasswordDetails.selectedRoleId == 4">
                                <mat-option *ngFor="let state of userManagementService.areaDetails | areaFilter:1:1"
                                    [value]="state.areaId">
                                    {{state.areaName}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="padding-bottom ">
                                Please provide state name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6" *ngIf="userManagementService.resetPasswordDetails.selectedRoleId == 3 || userManagementService.resetPasswordDetails.selectedRoleId == 4">
                        <label for="usr">District<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select name="district" [(ngModel)]="userManagementService.resetPasswordDetails.selectedDistrictId"
                                (valueChange)="userManagementService.resetPasswordDetails.allUser = undefined;
                                userManagementService.resetPasswordDetails.selectedBlockId=undefined"
                                [required]="userManagementService.resetPasswordDetails.selectedRoleId == 3 || userManagementService.resetPasswordDetails.selectedRoleId == 4">
                                <mat-option *ngFor="let dist of userManagementService.areaDetails | areaFilter:2:userManagementService.resetPasswordDetails.selectedStateId"
                                    [value]="dist.areaId">
                                    {{dist.areaName}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Please provide district name</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6" *ngIf="userManagementService.resetPasswordDetails.selectedRoleId == 4">
                        <label for="usr">Block<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select name="block" [(ngModel)]="userManagementService.resetPasswordDetails.selectedBlockId"
                                [required]="userManagementService.resetPasswordDetails.selectedRoleId == 4">
                                <mat-option *ngFor="let block of userManagementService.areaDetails | areaFilter:3:userManagementService.resetPasswordDetails.selectedDistrictId"
                                    [value]="block.areaId">
                                    {{block.areaName}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Please provide block name</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group" [ngClass]="userManagementService.resetPasswordDetails.selectedRoleId && userManagementService.resetPasswordDetails.selectedRoleId == 2 || userManagementService.resetPasswordDetails.selectedRoleId == 4 ? 'col-md-12 mt-btn text-center':'col-md-6 text-left mt-btn' ">
                        <button class="btn btn-default proceed-btn user-submit" type="submit">Submit</button>
                        <!-- [disabled]="!selectedRoleId || (selectedRoleId ==2 && !selectedDistrictId) ||  (selectedRoleId ==3 && !selectedBlockId)" -->
                    </div>
                </form>
               
                <div class="user-details-tbl" *ngIf="userManagementService.resetPasswordDetails.allUser && userManagementService.resetPasswordDetails.allUser.length">
                    <h2 class="user-heading"></h2>
                    <div class="row">
                        <div class="col-md-4"></div><div class="col-md-4"></div>
                    <div class="col-md-4 text-right">
                        <mat-form-field>
                            <input matInput [(ngModel)]="userManagementService.searchTexts" placeholder="Filter">
                          </mat-form-field>
                    </div>
                    </div>
                    <table id="user-history" class="table table-bordered" cellspacing="0" width="100%" style="text-align: center;">
                        <thead>
                            <tr class="user-pass-table-header">
                                <th class="t-heading">Sl. No.</th>
                                <th class="t-heading">Full Name</th>
                                <th class="t-heading">User Name</th>
                                <th class="t-heading">Area</th>
                                <th class="t-heading">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let tbl of userManagementService.resetPasswordDetails.allUser | searchText : userManagementService.searchTexts | paginate: { itemsPerPage: 5, currentPage: userManagementService.e, id: 'editing' } ; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{tbl.firstName}} {{tbl.middleName}} {{tbl.lastName}}</td>
                                <td>{{tbl.name}}</td>
                                <td>
                                    <ul class="area-name">
                                        <li *ngFor="let area of tbl.areas">
                                                <span>{{area.areaName}}, </span> 
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <button type="button" class="btn reset-pass-btn reset-btn" title="reset password" (click)="resetModal(tbl)">
                                            <span class="fa-passwd-reset fa-stack">
                                                    <i class="fa fa-undo fa-stack-2x"></i>
                                                    <i class="fa fa-lock fa-stack-1x"></i>
                                                  </span>
                                    </button>
                                    <button type="button" title="edit user" class="btn reset-pass-btn edit-btn" (click)="editUserDetails(tbl)">
                                            <i class="fa fa-edit" ></i>
                                    </button>
                                    <button *ngIf="!tbl.enable" type="button" class="btn reset-pass-btn" (click)="enableUser(tbl.userId)">
                                        <i class="fa fa-toggle-off"  title="enable user" ></i>
                                    </button>
                                    <button *ngIf="tbl.enable" type="button" class="btn reset-pass-btn" (click)="disableUser(tbl.userId)">
                                            <i class="fa fa-toggle-on"  title="disable user"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls *ngIf="userManagementService.resetPasswordDetails.allUser.length > 5"  class="pagination" (pageChange)="userManagementService.e = $event"  id="editing" ></pagination-controls>
                </div>
                <div *ngIf="userManagementService.resetPasswordDetails.allUser && !userManagementService.resetPasswordDetails.allUser.length"
                    class="no-user">No user available for this area</div>
            </div>
        </div>
    </div>
</div>


    <div class="modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h5 class="col-md-12 heading lead text-center" style="color:#333">Reset Password</h5>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="col-md-12 select-container">
                        <form [noValidate]="false" #newF="ngForm" (ngSubmit)="newF.valid ?submitModal(newF):''"
                            novalidate>
                            <div class="row">
                                <div class="col login-pwd">
                                    <label for="usr">New Password<span style="color:red; font-weight:500;">*</span> :</label>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="newPassword" name='pass' required pattern="^\S*$">
                                        <mat-error class="padding-bottom ">
                                            {{newF.controls['pass']?.errors?.pattern ? 'Spaces are not
                                            accepted':'Please provide new password'}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col login-pwd">
                                    <label for="pwd">Confirm Password<span style="color:red; font-weight:500;">*</span>
                                        :</label>
                                    <mat-form-field>
                                        <input matInput type="password" name="confirmpass" [(ngModel)]="confirmPassword"
                                            required>
                                    </mat-form-field>
                                    <div *ngIf="confirmPassword && confirmPassword != newPassword" class="material-error">The passwords do not match.</div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="text-center col">
                                    <button type="button" class="btn modal-cancel" data-dismiss="modal" (click)="resetBox(user); newF.resetForm()">Cancel</button>
                                    <button type="submit" class="btn modal-btn" style="margin-left: 10px;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Success</p>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p>Password has been successfully reset.</p>
                    </div>
                    <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Ok</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>



    <!-- success modal -->
<div id="successModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
            <h4>SUCCESS!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          <p>{{validationMsg}}</p>
          <button class="btn btn-success" data-dismiss="modal" (click)="userStatus()"><span>OK</span></button>
        </div>
      </div>
    </div>
  </div>



<!-- info modal -->
<!-- <div id="disableUserModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
            <h5>INFO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          
          <p>Are you sure you want to disable?</p>
          <button class="btn btn-success" (click)="disableUserDetails(disableUserId)"><span>Yes</span></button>
          <button class="btn btn-success" data-dismiss="modal"><span>No</span></button>
        </div>
      </div>
    </div>
  </div> -->

  <div id="disableUserModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog modal-notify modal-error" role="document">
        <div class="modal-content">
            
                <h4 class="heading lead text-center  col-md-12">INFO</h4>
            
            <p style="padding: 15px 0 0 33px; margin-bottom: 8px;">Are you sure you want to disable?</p>
            <div class="modal-body" style="padding: 0 1rem">
                <div class="col-md-12">
                    <div class="select-container ">
                        <div class="form-group row">
                            <div class="text-center col">
                                <button type="submit" class="btn modal-btn" style="margin-right: 10px;"
                                (click)="disableUserDetails(disableUserId)">Yes</button>
                                <button type="button" class="btn modal-btn" data-dismiss="modal"
                                    >No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


      <!-- errror modal -->
<div id="errorModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header error-modal-header">
                <h4>Error !</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
              <p>{{userManagementService.errorMessage}}</p>
              <button class="btn btn-success" data-dismiss="modal"><span>OK</span></button>
            </div>
          </div>
        </div>
      </div>

