.content-sec {
    padding-top: 15px;
  }
  .mat-form-field {
    display: block;
  }
  .mt-btn {
    margin-top: 25px!important;
}
.proceed-btn { padding: 4px;}
  .waves-light, .waves-light:hover, .waves-light:focus{
      background-color: #1f497b !important;
    }
    .user-label{
      max-width: 18.666667% !important;
    }
    // .data-error, .modal .err-btn {
    //   background-color: #af1926 !important;
    // }
    .left-list {
      height: 95%;
      width: 30%;
      background-color: #3b4654;
      padding-top: 80px;
      position: fixed;
  }
  .user-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #3b4654;
    color: #3b4654;
    margin-bottom: 20px;
    padding-bottom: 7px;
  }
  .btn.user-submit {
    background-color: #3b4654;
    border-radius: 0;
    width: 120px;
    color: #FFF;
  }
// table css
.table thead th {
  width: 90px;
}
.user-pass-table-header {
    background: #485769 !important;
    color: #fff !important;
}
.edit-btn {
    border-radius: 21px !important;
    border: none;
}
// .fa-passwd-reset { margin-top: -2px;}
.fa-passwd-reset > .fa-lock {
    font-size: 10px;
    margin-left: -26px;
    top: -5px;
    color: #3b4654;
}
.fa-edit,.fa-toggle-off,.fa-toggle-on{
  font-size:24px; color: #3b4654;
}
.reset-btn { border-radius: 23px !important;}
.fa-undo {
   font-size: 23px;
   color: #3b4654;}
  /** media query starts here **/
  @media(max-width: 767px){
    .left-list{
      width: 50%;
      z-index: 1000;
      padding-top: 40px;
    }
    .mt-btn{
      text-align: center !important;
    }
  }
  #resetPassModal .modal-header, #successMatch .modal-header, #disableUserModal .modal-header, #enableUser .modal-header{
    height: 39px;
    padding: 3px 14px;
    background: #A0C2BB
  }
  .no-user {
    text-align: center;
    font-weight: bold;
    color: #F00;
    margin-top: 30px;
  }
  .material-error{
    color: #f44336;
    font-size: 75%;
    margin-top: -12px;
    margin-bottom: 12px;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
  p.heading.lead {
    font-weight: bold;
    color: #234a7c;
  }
  .modal-btn {
    border-radius: 0;
    color: #FFF;
    background-color: #234a7c;
  }
  .modal-cancel{
    border-radius: 0;
    color: #FFF;
    // background-color: #5884c3;
    background-color: #234a7c;
  }
  .reset-pass-btn{
    border-radius: 0;
    color: #234a7c;;
    background: white !important;
    box-shadow: none !important;
    border: 1px solid;
    margin-right: 5px;
    font-size:13px;
    border: none;
    padding: 0;
  }
  .area-name {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
  }