<footer id="foot" class="footer">
  <div class="container-fluid footer-container">
    <div class="row">

    <div class="col-md-6 footer-all-links left">
      <ul class="footer-links">
        <li class="nav-item"><a [ngClass]="{'active': router.url=='/pages/terms-of-use'}" routerLink="pages/terms-of-use">Terms of use</a></li>
        <li class="nav-item"><a [ngClass]="{'active': router.url=='/pages/sitemap'}" routerLink="pages/sitemap">Sitemap</a></li>
        <li class="nav-item"><a [ngClass]="{'active': router.url=='/pages/privacy-policy'}" routerLink="pages/privacy-policy">Privacy Policy</a></li>
        <li class="nav-item"><a [ngClass]="{'active': router.url=='/pages/disclaimer'}" routerLink="pages/disclaimer">Disclaimer</a></li>
      </ul>
    </div>

    <div class="col-md-6 footer-all-links right">
      <ul class="footer-links fixing">
        <li class="nav-item">Technical Partner : <a rel="noreferrer" class="text_deco_none sdrc reference">USAID-VRIDDHI / IPE Global</a></li>
        <li class="nav-item">Technology Partner : <a href="https://sdrc.co.in/" target="_blank" rel="noreferrer" class="text_deco_none sdrc">SDRC</a></li>
      </ul>
    </div>
</div>
  </div>
</footer>
