

.main-content{ margin-bottom: 20px !important}
.mat-card {
    font-family: inherit !important;
    padding: 60px;
}
.preview-btn { 
  text-align: center;
  margin-top: 30px;
}
.reset-btn {padding: 6px 18px 6px 20px;}
  .mat-form-field {
    display: block !important;
  }
input.nospinner[type=number]::-webkit-inner-spin-button, 
input.nospinner[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.password-matched-error{
  margin-top: -13px;
  font-size: 13px;
}
#wrongOPTBlockError {
  font-size: 20px;
    color: red;
    margin-top: 6px;
}
.generate-otp{ margin-top: 10px;}
.validate-otp { margin-top: 7px;}
.success-otp { 
  color: #26a726;
  font-size: 14px;
  font-weight: 500;
  margin-left: 0;
}
.wrong-otp, .success-otp-verified { 
  font-size: 13px;
  margin-left: 6px;
}
.error-otp {
  color: #f44336;
  font-size: 13px;
}
.padding-right-zero { padding-right: 0;}
 .user-name-duplicate {
  margin-top: -15px;
 }
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: 0;
  position: relative;
  z-index: 2;
}

.approve-btn{
  background: #3f51b5;
color: #fff;
border: none;
padding: 4px;
}
.eye{ 
  margin-left: -24px;
  font-size: 17px;
}
.pass-field { top: 10px; }

// checkbox multiple
.mat-pseudo-checkbox { display: none !important;}
/** media query starts here **/
@media(max-width: 767px){
  .left-list{
    width: 50%;
    z-index: 100;
    padding-top: 40px;
  }
}



