<div class="container-fluid main-content">
  <div class="content-header">
    <h3>Forgot Password</h3>
  </div>
</div>
<div class="container-fluid">
  <mat-card>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form class="all-fields row" #f="ngForm" (ngSubmit)="f.valid?savePass():''" id="changePass">
          <div class="selection-fields col-md-12">
            <label for="usr">Email ID<span style="color:red; font-weight:500;">*</span> :</label>
            <mat-form-field>
              <input matInput name="primaryEmailId" [(ngModel)]="staticService.emailId"
                (change)="emailVerify()" (keyup)="staticService.otpErrMsg = false;staticService.otpSendMsg = false;
                staticService.otpErrorMsg = '';staticService.otpSuccessMsg = '';staticService.enterOTPForValidate=false;
                staticService.wrongOtp='';staticService.showOTPTickerWrong=false" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                >
              <mat-error class="padding-bottom ">
                {{f.controls['primaryEmailId']?.errors?.pattern ? 'Please provide correct email ID':'Please provide
                  Email ID'}}
              </mat-error>
            </mat-form-field>
            <div class="user-name-duplicate">
                <p *ngIf="staticService.otpErrMsg" style="font-size:14px;color:red;margin-top: -20px;">{{staticService.otpErrorMsg}}</p>
            </div>
          </div>

          <div class="selection-fields col-md-12 generate-otp" *ngIf="staticService.afterEmailVerified">
            <label for="usr">Generate OTP<span style="color:red; font-weight:500;"></span> :</label>
            <div class="form-group">
              <button
                [disabled]="staticService.emailId == '' || staticService.emailId == undefined"
                class="approve-btn" id="generate-otp" type="button" mat-flat-button color="primary" (click)="sendOTP(staticService.emailId)">Generate
                OTP</button><br>
              <span class="error-otp" id="showOTPblockError"
                *ngIf="staticService.showErrorIfOTPnotVerified">Please generate OTP for email
                verification.&nbsp;</span>
              <span class="success-otp">{{staticService.otpSuccessMsg}}</span>
            </div>
          </div>

          <div class="selection-fields col-md-12 padding-right-zero" *ngIf="staticService.enterOTPForValidate">
            <label for="usr">Enter OTP<span style="color:red; font-weight:500;"></span> :</label>
            <mat-form-field>
              <input matInput name="enterOTP" [(ngModel)]="staticService.enterOTP"
                maxlength="4" minlength="4" required pattern="\d*"
                (change)="validateOTP(staticService.enterOTP)">
              <mat-error class="padding-bottom" id="enterOPTBlockError">
                {{f.controls['enterOTP']?.errors?.pattern ? 'Only digits can be accepted':'Please enter OTP'}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="selection-fields col-md-12 padding-right-zero" *ngIf="staticService.showOTPTickerSuccess == true || 
          staticService.showOTPTickerWrong == true">
            <label for="usr"></label>
            <div class="form-group validate-otp">
              <i id="emailverifiedmsgDiv" class="fa fa-check" *ngIf="staticService.showOTPTickerSuccess"
                style="font-size:25px;color:#55bb55" aria-hidden="true">
                <span class="success-otp-verified"> Email verified</span></i>
              <i class="fa fa-close" id="wrongOPTBlockError" *ngIf="staticService.showOTPTickerWrong">
                <span class="wrong-otp">{{staticService.wrongOtp}}</span></i>
            </div>
          </div>

          <div class="selection-fields col-md-12 pass-field" *ngIf="staticService.showPassSection">
            <label for="usr">Password<span style="color:red; font-weight:500;">*</span> :</label>
            <mat-form-field>
              <input matInput type="password" id="password-field" name="password"
                [(ngModel)]="staticService.enterNewPass" showHideInput required pattern="^\S*$">
                <span class="eye-hide-show"><i matSuffix class="material-icons eye" showHideTrigger="password-field"
                  [showHideStatus]="{ materialIcon: true, id: 'password-field' }"
                ></i></span>
              <mat-error class="padding-bottom ">
                {{f.controls['password']?.errors?.pattern ? 'Spaces are not accepted':'Please provide password'}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="selection-fields col-md-12" *ngIf="staticService.showPassSection">
            <label for="usr">Re-enter Password<span style="color:red; font-weight:500;">*</span> :</label>
            <mat-form-field>
              <input type="password" matInput name="resetPass"
                [(ngModel)]="staticService.reEnterPass"
                required pattern="^\S*$">
              <mat-error class="padding-bottom">
                {{f.controls['resetPass']?.errors?.pattern ? 'Spaces are not accepted':'Please re-enter password'}}
              </mat-error>
            </mat-form-field>
            <div id="do-not-matched"
              *ngIf="(staticService.reEnterPass != staticService.enterNewPass) && (staticService.reEnterPass != undefined && staticService.reEnterPass != '')"
              class="mat-error password-matched-error">The passwords do not match.</div>
          </div>

              <div class="selection-fields col-md-12 preview-btn">
                  <div class="form-group">
                    <button class="btn save-btn" [disabled]="staticService.enterNewPass != staticService.reEnterPass || staticService.emailId == undefined || staticService.reEnterPass == undefined" >Save</button>
                    <button class="btn reset-btn" (click)="reset()">Cancel</button>
                  </div>
                </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </mat-card>
</div>

<!-- success modal -->
<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header success-header">
          <h4>SUCCESS!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          <p>{{staticService.successMsg}}</p>
          <button class="btn btn-success" data-dismiss="modal" routerLink="login"><span>OK</span></button>
        </div>
      </div>
    </div>
  </div>
  
    <!-- errror modal -->
    <div id="errorModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header error-modal-header">
              <h4>Error !</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
              <p>{{staticService.errorMessage}}</p>
              <button class="btn btn-success" data-dismiss="modal"><span>OK</span></button>
            </div>
          </div>
        </div>
      </div>