<div class="container-fluid main-content">
  <div class="content-header">
    <h3>Change Password</h3>
  </div>
</div>
<div class="container-fluid">
  <mat-card>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form class="all-fields row" #f="ngForm" id="changePass" (ngSubmit)="f.valid ? savePass(): ''">
            <div class="selection-fields col-md-6">
                <label for="usr">User Name<span style="color:red; font-weight:500;">*</span> :</label>
                <mat-form-field>
                  <input matInput [disabled]="staticService.userName" 
                  name="username" [(ngModel)]="staticService.userName">
                  <mat-error class="padding-bottom">
                    {{f.controls['username']?.errors?.pattern ? 'Only 3-15 characters,hyphen(-) and underscore(_) can be
                    accepted':'Please provide username'}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="selection-fields col-md-6">
                  <label for="usr">Old Password<span style="color:red; font-weight:500;">*</span> :</label>
                  <mat-form-field>
                    <input matInput type="password" id="password-field" name="oldPassword" [(ngModel)]="staticService.oldPassword"
                      required pattern="^\S*$">
                      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    <mat-error class="padding-bottom ">
                      {{f.controls['password']?.errors?.pattern ? 'Spaces are not accepted':'Please provide password'}}
                    </mat-error>
                  </mat-form-field>
                </div>
              <div class="selection-fields col-md-6">
                <label for="usr">New Password<span style="color:red; font-weight:500;">*</span> :</label>
                <mat-form-field>
                  <input matInput type="password" id="newPassword-field" name="newPassword" [(ngModel)]="staticService.newPassword"
                    required pattern="^\S*$">
                  <span toggle="#newPassword-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                  <mat-error class="padding-bottom ">
                    {{f.controls['password']?.errors?.pattern ? 'Spaces are not accepted':'Please provide password'}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="selection-fields col-md-6">
                <label for="usr">Re-enter Password<span style="color:red; font-weight:500;">*</span> :</label>
                <mat-form-field>
                  <input type="password" matInput name="resetPass" [(ngModel)]="staticService.reEnterPassword"
                    required pattern="^\S*$">
                  <mat-error class="padding-bottom">
                    {{f.controls['resetPass']?.errors?.pattern ? 'Spaces are not accepted':'Please re-enter password'}}
                  </mat-error>
                </mat-form-field>
                <div *ngIf="(staticService.reEnterPassword != staticService.newPassword) && (staticService.reEnterPassword != undefined && staticService.reEnterPassword != '')"
                  class="mat-error password-matched-error">The passwords do not match. </div>
              </div>
              <div class="selection-fields col-md-12 preview-btn">
                  <div class="form-group">
                    <button class="btn save-btn" [disabled]="!f.valid">Save</button>
                    <button class="btn reset-btn" (click)="reset()">Reset</button>
                  </div>
                </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>

<!-- success modal -->
<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header success-header">
          <h4>SUCCESS!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          <p>{{staticService.successMsg}}</p>
          <button class="btn btn-success" data-dismiss="modal" (click)="reset()"><span>OK</span></button>
        </div>
      </div>
    </div>
  </div>
  
    <!-- errror modal -->
    <div id="errorModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header error-modal-header">
              <h4>Error !</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
              <p>{{staticService.errorMessage}}</p>
              <button class="btn btn-success" data-dismiss="modal"><span>OK</span></button>
            </div>
          </div>
        </div>
      </div>