.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 0;
    position: relative;
    z-index: 2;
  }
  .mat-form-field {
    display: block !important;
  }
  .preview-btn { text-align: center;}
  .save-btn { padding: 6px 21px 6px 21px;}
  .reset-btn {padding: 6px 18px 6px 20px;}
  .password-matched-error{
    margin-top: -2px;
    font-size: 13px;
  }
  .mat-card { padding: 50px;}
  .main-content { margin-bottom: 45px !important;}
  