<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 video-name">
        <h2 class="video-head">Video </h2>
    </div>  
  </div>
</div>

<div class="container-fluid">
        <div class="col-md-12 searchbar">
          <div class="col-md-3 searchData searchBoxInHeader inner-addon right-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" [(ngModel)]="searchTexts" class="form-control" placeholder="Search" />
          </div>
        </div>
</div>          
<div class="container-fluid photo-section"> 
    <div class="content">         
<div class="row video-section" *ngIf=videoData>
    <div class="col-md-3 video-link" *ngFor="let data of videoData | searchText : searchTexts | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
        <iframe  width="100%" height="180px"  [src]="data.q2| videoUrl" frameborder="0"
          allowfullscreen playsinline></iframe>
          <p class="caption">{{data.q1}}</p>
      </div>
      <div class="col-md-12 " [hidden]="(videoData | searchText : searchTexts).length == 0">
          <pagination-controls class="pagination" (pageChange)="p = $event" *ngIf="videoData.length > 8"></pagination-controls>
      </div>


</div>
    </div>
<div class="col-md-12" [hidden]="(videoData | searchText : searchTexts).length != 0">
  <h4 class="text-center no-data-found">No Video Found</h4>
</div>
<div class="blank-height">
</div>
</div>