

<div class="container main-content" style="margin-bottom: 50px;"> <!-- margin bottom given to resolve bug 3373-->
  <div class="cont_header_container"> 
    <h3 class="cont_header">Sitemap</h3>  
  </div>    
  <div class="row">      
       <div class="col-md-12 col-sm-12 col-xs-12">
           <ul>
              <li>
                  <a routerLink="/" >Home</a>
              </li>
              <li>
                  <a href="https://adarssh.in/dataentry/" target="_blank">Data Entry</a>
              </li>
              <li>
                  <a routerLink="/pages/report">Report</a>
              </li>
              <li>
                  <a routerLink="/pages/review-submission">Submission Management</a>
              </li>
              <li>
                <a>Resource</a>
                <ul class="submenus">
                    <li class="submenu-item">
                        <a routerLink="/pages/user-manual">User Manual</a>
                    </li>
                    <li class="submenu-item">
                        <a routerLink="/pages/tools">Tools</a>
                    </li>
                    <li class="submenu-item">
                        <a routerLink="/pages/photo">Photo</a>
                    </li>
                    <li class="submenu-item">
                        <a routerLink="/pages/video">Video</a>
                    </li>
                </ul>
            </li>
           
          <li>
              <a>Dashboard</a>
              <ul class="submenus">
                  <li class="submenu-item">
                      <a routerLink="/dashboard/coverage-dashboard">Coverage Dashboard </a>
                  </li>
                  <li class="submenu-item">
                      <a routerLink="/dashboard/snapshot-view">Snapshot View</a>
                  </li>
              </ul>
          </li>
          <li>
              <a >Admin</a>
              <ul class="submenus">
                      <li class="submenu-item">
                          <a routerLink="/data-upload" >Data Upload (for e-mitra mobile app)</a>
                      </li>
                      <li class="submenu-item">
                          <a routerLink="/user-management">User Management</a>
                      </li>
                      <li class="submenu-item">
                        <a routerLink="/dashboard/aggregate-legacy">Aggregate Legacy Data</a>
                    </li>
                    <li class="submenu-item">
                        <a routerLink="/cms">CMS</a>
                    </li>
                  </ul>
           </li>
      </ul>
         </div>
   </div>
</div>
<div class="blank-height">
</div>