


<div class="col-md-12 ">
  <div class="row">
    <div class="col-md-10 selection-container">
      <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>
      <div style="margin: 7px"></div>
      <mat-form-field class="border">
        <input type="text" matInput placeholder="Upload Data Sheet" readonly [(ngModel)]="fileName">
        <input type="file" id="fileUpload" (change)="onFileChange($event)" hidden  accept=".csv,.CSV"/>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <button class="btn" (click)="uploadClicked()">Browse</button>
    </div>
  </div>
</div>


    <div style="margin: 0px"></div>
    <mat-radio-group [(ngModel)]="selectedAnalysisType" (change)="indicatorSelect.update.emit([]);selectAllValue=false">
      <mat-radio-button value="1" [disabled]="!indicators|| !(indicators &&(indicators|columnPipe:1:'').length>0)">Numerical</mat-radio-button>
      <mat-radio-button value="2"  [disabled]="!indicators|| !(indicators &&(indicators|columnPipe:2:'').length>0)">Categorical</mat-radio-button>
    </mat-radio-group>



    <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 selection-container">
            <div style="margin: 7px"></div>
            <mat-form-field>
                <mat-select placeholder="Select Indicator" [(ngModel)]="selectedIndicators" [disabled]="file==null ||!indicators ||( indicators && !indicators.length)"
                  multiple="true"
                  #indicatorSelect="ngModel" >
                  <ngx-mat-select-search  [placeholderLabel]="'Search Indicator'" [noEntriesFoundLabel]="'No Result found'" [(ngModel)]="searchValue" ></ngx-mat-select-search>
                  <mat-option  (click)="selectAll(indicatorSelect)" [value]="-1" checked="selectAllValue" >
                 Select All
                  </mat-option>
                  <mat-option (click)="selectOne(indicatorSelect)" *ngFor="let indicator  of (indicators|columnPipe:selectedAnalysisType:searchValue)" [value]="indicator.id">{{indicator.name}}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
     
        </div>
      </div>
      <div class="pull-right">
        <button class="btn" (click)="multipleStatics()" [disabled]="file==null || !selectedAnalysisType  || !selectedIndicators || !selectedIndicators.length">Analyze</button>
      </div>

<div id="error" class="confrirmation-modal modal fade" role="dialog" data-backdrop="static" data-keyboard="false"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body warnbody text-center">
        <div class="infohead"> Error </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-close fa-4x animated rotateIn"></i>
            <p>{{errorMessage}}</p>
          </div>
          <button type="button" class="btn btn-default" (click)="modalClose()">Ok</button>
        </div>

      </div>
    </div>
  </div>
</div>
